.section-advantages {
  padding-top: 80px;
  padding-bottom: 70px;
  clip-path: ellipse(100% 57% at 50% 43%);
  position: relative;
  background: url('../img/tg-adv-photo.webp') no-repeat calc(50% + 550px) 105% / 234px 234px;
  @include _1200 {
    background-size: 20%;
    background-position: 100% 103%;
  }
  @include _992 {
    padding-bottom: 0;
    clip-path: none;
    background: none;
  }
  &::before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    transform: translate(-50%, -40%);
    filter: blur(150px);
    width: 890px;
    z-index: -1;
    height: 890px;
    background: radial-gradient(50% 50% at 50% 50%, #1CADE4 0%, #27CED7 37.11%, rgba(217, 217, 217, 0.00) 100%) no-repeat -50% -50%;
    opacity: 0.15;
  }
  &::after {
    content: '';
    display: block;
    width: 900px;
    height: 900px;
    position: absolute;
    right: 0;
    z-index: -1;
    bottom: 0;
    transform: translateX(80%);
    opacity: 0.25;
    background: radial-gradient(50% 50% at 50% 50%, #1C48E4 0%, #276DD7 37.11%, rgba(217, 217, 217, 0.00) 100%);
    filter: blur(150px);
  }
  &__photo-wrap {
    @extend .section-hero__photo-wrap;
    position: absolute;
    bottom: -99px;
    width: 100%;
    height: 473px;
    left: 0;
    transform: translateX(-150px);
    z-index: -1;
    & img  {
      width: 100%;
      height: 100%;
      object-fit: contain
    }
    @include _992 {
      margin-bottom: 30px;
      position: relative;
      bottom: auto;
      left: 0;
      height: 50vw;
      transform: none;
      clip-path: ellipse(70% 57% at 50% 43%);
    }
  }
  &__photo-info-text {
    @extend .section-hero__photo-info-text;
    top: 60%;
    left: 57%;
    @include _992 {
      top: 40%;
      left: 14%;
    }
    @include _576 {
      left: 0;
      top: 45%;
    }
  }
  &__photo-name {
    @extend .section-hero__photo-name;
  }
  &__photo-job {
    @extend .section-hero__photo-job;
  }
  &__list {
    margin-bottom: 90px;
    display: flex;
    justify-content: space-between;
    gap: 40px;
    @include _1200 {
      gap: 20px;
    }
    @include _992 {
      margin-bottom: 20px;
      flex-wrap: wrap;
      justify-content: flex-start;
    }
    @include _576 {
      gap: 10px;
    }
  }
  &__item {
    min-height: 260px;
    padding: 65px 30px 20px 20px;
    flex-basis: 25%;
    border-radius: 16px;
    background: url('../img/checkCircle-white.svg') no-repeat 20px 20px / 32px 32px, linear-gradient(180deg, rgba(28, 173, 228, 0.80) 0%, rgba(39, 206, 215, 0.80) 100%);
    &-text {
      font-weight: 500;
      font-size: 20px;
      line-height: 1.35em;
      color: $white;
    }
    @include _992 {
      flex-basis: calc(50% - 20px);
      @include _576 {
        flex-basis: calc(100%);
        min-height: auto;
      }
    }
  }
}

.advantages-bottom {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  @include _992 {
    flex-direction: column;
    justify-content: flex-start;
  }
  &__wrap-left {
    flex-basis: 38%;
  }
  &__wrap-right {
    flex-basis: 32%;
  }
  &__citate {
    margin-bottom: 20px;
    font-size: 32px;
    font-style: italic;
    font-weight: 300;
    line-height: 1.35em;
  }
  &__approach-text {
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 18px;
  }
  &__approach-wrap {
    display: flex;
    align-items: center;
  }
  &__approach-separator {
    margin-right: 24px;
    display: block;
    width: 55px;
    height: 1px;
    background-color: #969696;
  }
  &__approach-video-text {
    flex-basis: 180px;
    font-weight: 700;
  }
  &__approach-btn {
    margin-right: 24px;
    position: relative;
    padding: 0;
    width: 132px;
    flex: 0 0 132px;
    height: 132px;
    background: url('../img/icons/adv-play.svg') no-repeat 55% center / 40px 43px,
                 rgba(238, 26, 36, 0.6);
                 transition: transform .3s ease;
    @include _767 {
      width: 120px;
      flex: 0 0 120px;
      height: 120px;
    }
    &-icon {
      position: relative;
      z-index: -1;
    }
    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      border-radius: 50%;
      background-color: $red;
      animation: pulse_2_small 1.7s linear infinite;
      z-index: -1;
    }
    @include interactive {
      &:hover {
        background: url('../img/icons/adv-play.svg') no-repeat 55% center / 40px 46px,
                 rgba(238, 26, 36, 0.4);
        &::after {
          animation-play-state: paused;
        }
      }
    }
  }
  &__title {
    margin-bottom: 20px;
    font-weight: 600;
    @include _767 {
      font-size: 18px;
    }
  }
  &__info {
    margin-bottom: 20px;
    &-text {
      @extend .product-card__service-text;
      margin-bottom: 13px;
      @include _576 {
        font-size: 14px;
      }
    }
    &-link {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 22px 0;
      max-width: 300px;
      width: 100%;
      @include _576 {
        max-width: 100%;
      }
      &::before {
        content: '';
        display: block;
        margin-right: 14px;
        width: 26px;
        height: 21px;
        background: url('../img/tg-kanal.svg') no-repeat center / cover;
      }
    }
  }
}



