.section-commercial-offer {
  clip-path: none;
  @include _767 {
    clip-path: ellipse(100% 57% at 50% 43%);
  }
  &__subtitle {
    margin-bottom: 70px;
    margin-left: 0;
    line-height: 1.3em;
    max-width: 45%;
    @include _767 {
      margin-bottom: 30px;
    }
    @include _576 {
      max-width: 100%;
    }
  }
  &__bg {
    width: 50%;
    right: 0;
    & img {
      object-position: right;
    }
    @include _767 {
      width: 100%;
      & img {
        left: 0;
      }
    }
  }

}
