.section-commercial-offer {
  clip-path: none;
  @include _1200 {
    & .form-container {
      flex-wrap: wrap;
    }
    & .input-wrap {
      flex-basis: 30%;
    }
  }
  @include _767 {
    clip-path: ellipse(100% 57% at 50% 43%);
    &.section-form.section {
      padding-bottom: 0;
    }
  }
  &__subtitle {
    margin-bottom: 70px;
    margin-left: 0;
    line-height: 1.3em;
    max-width: 45%;
    @include _767 {
      margin-bottom: 30px;
    }
    @include _576 {
      max-width: 100%;
    }
  }
  &__bg {
    & img {
      left: auto;
      height: 102%;
      width: 50%;
      right: 0;
      bottom: 0;
      object-position: right;
      @include _992 {
        bottom: -15%;
      }
      @include _767 {
        position: relative;
        width: 100%;
        bottom: 0;
        object-position: center top;
      }
    }
    // @include _767 {
    //   // position: relative;
    //   width: 100%;
    //   // bottom: -30vw;
    // }
  }

}
