.section-feedback {
  padding-top: 34px;
  @include _992 {
    padding-top: 36px;
  }
  @include _1200 {
    padding-top: 34px;
  }
  &__container {
    @include _576 {
      background: url('../img/feedback-bg-768.png') no-repeat calc(100% - 20px) center / calc((((100% - 40px) / 100) * 35) - 32px) 94%;
    }
    @include _767 {
      background: url('../img/feedback-bg-768.png') no-repeat calc(100% - 72px) center / calc((((100% - 144px) / 100) * 35) - 32px) 94%;
    }
    @include _992 {
      background: url('../img/feedback-bg-1024.png') no-repeat calc(100% - 36px) center / calc((((100% - 72px) / 100) * 57.5) - 32px) auto;
    }
    @include _1200 {
      background: url('../img/feedback-bg.png') no-repeat calc(100% - 36px) center / calc((((100% - 72px) / 100) * 50) - 16px) auto;
    }
  }
  &__content-wrap {
    @include _576 {
      max-width: 65%;
    }
    @include _992 {
      max-width: 42.5%;
    }
    @include _1200 {
      max-width: calc(50% - 16px);
    }
  }
  &__title {
    margin-bottom: 7px;
    line-height: 1.2em;
    @include _576 {
      margin-bottom: 12px;
      line-height: 1em;
    }
    @include _1200 {
      margin-bottom: 10px;
    }
  }
  &__desc {
    margin: 0;
    margin-bottom: 15px;
    font-size: 14px;
    line-height: 1.35em;
    color: $grey_shade;
    @include _576 {
      padding-right: 20px;
    }
    @include _1200 {
      margin-bottom: 16px;
    }
  }
  &__tooltip {
    box-sizing: border-box;
    margin-left: 6px;
    width: 14px;
    height: 14px;
    border: none;
    border-radius: 50%;
    background-color: $secondary;
    outline: 1px solid $secondary;
    outline-offset: -1px;
    transition: background-color .3s ease, outline-color .3s ease;
    @include _576 {
      margin-left: 5px;
    }
      &-icon use {
        fill: $white;
        stroke: transparent;
        transition: fill .3s ease;
      }
    &[aria-describedby] {
      background-color: transparent;
      outline: 1px solid transparent;
      &[aria-describedby] .section-feedback__tooltip-icon use {
          fill: $secondary;
        }
    }
    &:focus-visible {
      background-color: transparent;
      outline: 1px solid transparent;
    }
    &:focus-visible .section-feedback__tooltip-icon use {
      fill: $secondary;
    }
    &:active {
      background-color: transparent;
      outline: 1px solid transparent;
    }
    &:active .section-feedback__tooltip-icon use {
      fill: $secondary;
    }
  }
}

.feedback-form {
  &__input-wrap {
    margin-bottom: 30px;
  }
}
