.section-hero {
  padding-bottom: 35px;
  @include _576 {
    padding-bottom: 0;
  }
}
.banner-swiper {
  z-index: 0;
  &__slide {
    height: auto;
    box-sizing: border-box;
    margin-bottom: 92px;
    padding: 30px 0 98px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    @include _576 {
      margin-bottom: 0;
      padding: 80px 0;
    }
    &_bg_1 {
      background-image: url('../img/banner1-mob.jpg');
      @include _576 {
        background-image: url('../img/banner1-768.jpg');
      }
      @include _992 {
        background-image: url('../img/banner1-1024.jpg');
      }
      @include _1200 {
        background-image: url('../img/banner1.jpg');
      }
    }
    &_bg_2 {
      background-image: url('../img/banner2-mob.jpg');
      @include _576 {
        background-image: url('../img/banner2-768.jpg');
      }
      @include _992 {
        background-image: url('../img/banner2-1024.jpg');
      }
      @include _1200 {
        background-image: url('../img/banner2.jpg');
      }
    }
    &_bg_3 {
      background-image: url('../img/banner3-mob.jpg');
      @include _576 {
        background-image: url('../img/banner3-768.jpg');
      }
      @include _992 {
        background-image: url('../img/banner3-1024.jpg');
      }
      @include _1200 {
        background-image: url('../img/banner3.jpg');
      }
    }
  }
  &__title {
    margin: 0;
    padding-left: 18px;
    max-width: 75%;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.35em;
    color: $grey;
    &_color_white {
      color: $white;
    }
    @include _576 {
      padding-left: 0;
      margin-bottom: 50px;
      max-width: 560px;
      font-size: 48px;
    }
    @include _992 {
      padding-left: 0;
      margin-bottom: 50px;
      max-width: 555px;
      font-size: 48px;
    }
    @include _1200{
      max-width: 551px;
    }
  }
  &__btn {
    position: absolute;
    top: calc(100% + 32px);
    left: 12px;
    right: 12px;
    @include _576 {
      position: static;
    }
  }
  & &__pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 99px;
    @include _576 {
      bottom: 20px;
    }
    & .swiper-pagination-bullet {
      margin: 0;
      display: block;
      width: 12px;
      height: 12px;
      opacity: 1;
      background-color: transparent;
      transition: outline .3s ease;
      @include _576 {
        width: 20px;
        height: 20px;
      }
      @include _767 {
        &:focus-visible {
          outline: 1px solid $secondary;
          outline-offset: 2px;
        }
      }
      &:not(:last-of-type) {
        margin-right: 8px;
        @include _576 {
          margin-right: 11px;
        }
      }
      &-icon {
        display: block;
      }
      &-active {
        .swiper-pagination-bullet-icon circle {
          animation: circleProgressbar 3.9s linear forwards;
        }
      }
    }
  }
}



