.section-high-rating {
  padding-top: 35px;
  @include _576 {
    padding-top: 34px;
  }
  &__title {
    @include _576 {
      margin-bottom: 28px;
    }
  }
  &__btn {
    display: block;
    padding: 19px 34px;
    margin-top: 14px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    @include _576 {
      margin-top: -2px;
      width: auto;
    }
    @include _1200 {
      margin-top: 0;
    }
  }
}

.high-rating-products {
  &__item {
    transition:  opacity .5s ease;
      &.is-hidden {
        margin-bottom: 0;
        padding: 0;
        height: 0;
        width: 0;
        opacity: 0;
        visibility: hidden;
      }
  }
}
