.new-collection-section {
  padding-bottom: 35px;
  @include _576 {
    padding-bottom: 0;
  }
  position: relative;
  &__wrap {
    margin-bottom: 32px;
    padding: 33px 0 110px;
    background: url('../img/ocsford-mobile.jpg') no-repeat center / cover;
      @include _576 {
        margin-bottom: 0;
        padding: 154px 0 259px;
        background: url('../img/ocsford-768.jpg') no-repeat center / cover;
      }
      @include _992 {
        background: url('../img/ocsford-1024.jpg') no-repeat center / cover;
      }
      @include _1200 {
        background: url('../img/ocsford.jpg') no-repeat center / cover;
      }
  }
  &__text-wrap  {
    max-width: 200px;
    @include _576 {
      max-width: 510px;
    }
  }
  &__title {
    margin: 0;
    font-size: 24px;
    line-height: 1.2em;
    @include font('Playfair Display', 900, 'serif');
    color: $gold;
    @include _576 {
      font-size: 40px;
    }
    @include _767 {
      font-size: 60px;
    }
  }
  &__text {
    // padding-right: 48%;
    margin: 0;
    font-size: 16px;
    line-height: 1.2em;
    color: $white;
    @include _576 {
      font-size: 28px;
    }
    @include _767 {
      // padding-right: 30%;
      font-size: 48px;
    }
    // @include _1200 {
    //   padding-right: 50%;
    // }
  }
  &__btn {
    width: 100%;
    text-align: center;
    @include _576 {
      padding: 19px 30px;
      position: absolute;
      width: auto;
      bottom: 150px;
    }
  }
}
