.useful-section {
  padding-top: 36px;
  padding-bottom: 35px;
  @include _576 {
    padding-top: 34px;
  }
    &__container {
      position: relative;
    }
    &__title {
      line-height: 1.7em;
      margin-bottom: 17px;
      @include _576 {
        line-height: 1em;
        margin-bottom: 26px;
      }
    }
    &__swiper {
      overflow: hidden;
    }
}

.useful-swiper {
  &__wrapper {
    margin-bottom: 16px;
    @include _576 {
      margin-bottom: 0;
    }
  }
}

.useful-card {
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: auto;
  border-radius: 10px;
  background-color: $grey_light;
    &__img {
      max-height: 202px;
      object-fit: cover;
      object-position: center;
      @include _1200 {
        max-height: 426px;
      }
    }
    &__wrap {
      padding: 30px 37px 30px 30px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      height: 100%;
    }
    &__desc {
      margin-top: 0;
      margin-bottom: 28px;
      line-height: 1.38em;
      @include _1200 {
        margin-bottom: 37px;
        font-size: 24px;
      }
    }
    &__link {
      padding: 16px 34px;
      margin-top: auto;
    }
}
