.section-videoreviews {
  position: relative;
  &::before {
    content: '';
    display: block;
    position: absolute;
    z-index: -1;
    left: 100%;
    bottom: 0;
    transform: translate(-50%, 50%);
    filter: blur(150px);
    width: 60vw;
    height: 60vw;
    background: radial-gradient(50% 50% at 50% 50%, #1CADE4 0%, #27CED7 37.11%, rgba(217, 217, 217, 0.00) 100%) no-repeat -50% -50%;
    opacity: 0.15;
  }
  &__side-reviews {
    display: flex;
    gap: 40px;
    @include _992 {
      flex-wrap: wrap;
    }
    @include _767 {
      gap: 10px;
    }
  }
  &__btn {
    display: block;
    margin: 0 auto;
    padding: 24px 20px;
    max-width: 360px;
    width: 100%;
  }
}

.videoreviews {
  margin-bottom: 40px;
  display: flex;
  gap: 40px;
  &__item {
    flex-basis: calc(100% / 3);
  }
  @include _992 {
    gap: 30px;
  }
  @include _767 {
    margin-bottom: 20px;
    flex: none;
    flex-direction: column;
    gap: 10px;
  }
}

.side-reviews {
  margin-bottom: 30px;
  @include _767 {
    margin-bottom: 20px;
  }
  &__card {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12%;
    padding: 27px 20px 40px;
    flex-basis: 50%;
    border-radius: 16px;
    border: 1px solid rgba(2, 5, 40, 0.25);
    @include _992 {
      flex: none;
      width: 100%;
    }
    @include _576 {
      flex-direction: column;
      gap: 10px;
    }
  }
  &__card-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    @include _576 {
      flex-direction: row;
      gap: 17px;
    }
  }
  &__card-rating {
    display: flex;
    align-items: center;
    gap: 4px;
  }
  &__card-img {
    margin-bottom: 8px;
  }
  &__link {
    @extend .watch-link;
    font-size: 20px;
    line-height: 1.4em;
    font-weight: 500;
    &::before {
      display: none;
    }
    &::after {
      width: 100%;
      left: 0;
      bottom: 0;
    }
  }
  &__card-rating img:last-of-type {
    margin-bottom: 1px;
  }
}
