.article-card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 16px;
  overflow: hidden;
  border: 1px solid #f5f5f5;
  background: $white;
  @include interactive {
    &:hover &__img {
      transform: scale(1.05);
    }
  }
  &__img-wrap {
    border-radius: 16px;
    overflow: hidden;
    width: 100%;
  }
  &__img {
    width: 100%;
    max-height: 190px;
    object-fit: cover;
    object-position: center;
    transition: transform .3s ease;
    @include _767 {
      max-height: 50vw;
      height: 100%;
    }
  }
  &__content-wrap {
    padding: 16px 16px 20px;
  }
  &__info {
    margin-bottom: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
  }
  &__category {
    color: $red;
  }
  &__date {
    color: rgba(124, 124, 124, 1);
  }
  &__title {
    margin-bottom: 8px;
    font-weight: 600;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }
  &__desc {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
  &__link {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
  }
}
