.menu {
  &__link {
    font-size: 14px;
    transition: color .4s ease;
    &:hover {
      color: $red;
    }
  }
}

.submenu {
  &__link {
    transition: color .4s ease;
    &:hover {
      color: $red;
    }
  }
}
