.messangers {
  display: flex;
  align-items: center;
  &__list {
    margin-right: 14px;
    display: flex;
    align-items: center;
  }
  &__item {
    &:not(:last-of-type) {
      margin-right: 10px;
    }
  }
  &__link {
    display: block;
    width: 32px;
    height: 32px;
    opacity: .8;
    transition: opacity .4s ease, transform .3s ease;
    &:hover {
      opacity: 1;
      transform: scale(1.02);
    }
  }
  &__text {
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
    line-height: 1.48em;
    min-width: 105px;
    font-size: 12px;
    &-accent {
      font-weight: 700;
      color: $green;
    }
  }
}
