.project-card {
  padding: 30px 30px 24px;
  display: flex;
  max-width: 100%;
  flex-direction: column;
  border-radius: 16px;
  background: radial-gradient(78.44% 119.36% at 0% 28.17%, rgba(28, 173, 228, 0.40) 0%, rgba(0, 0, 0, 0.00) 100%), #020528;
  &:nth-of-type(3n - 1) {
    background: radial-gradient(108.9% 139.87% at 100% 0%, rgba(28, 173, 228, 0.40) 0%, rgba(0, 0, 0, 0.00) 100%), #020528;
  }
  &:nth-of-type(3n) {
    background: radial-gradient(84.38% 138.41% at 100% 67.4%, rgba(28, 173, 228, 0.40) 0%, rgba(0, 0, 0, 0.00) 100%), #020528;
  }
  &__logo-location-wrap {
    margin-bottom: 28px;
    display: flex;
    align-items: center;
    gap: 30px;
    @include _767 {
      gap: 20px;
    }
  }
  &__logo {
    flex: 0 0 130px;
    height: 53px;
    @include _767 {
      flex: 0 0 109px;
    }
    &-img {
      width: 100%;
      height: 100%;
      object-position: center;
      object-fit: contain;
    }
  }
  &__location {
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 700;
    color: $white;
    @include _767 {
      font-size: 12px;
    }
    &::before {
      content: '';
      margin-right: 10px;
      display: block;
      width: 24px;
      height: 24px;
      background: url('../img/icons/mapPin.svg') no-repeat center / cover;
      @include _767 {
        width: 16px;
        height: 16px;
        margin-right: 6px;
      }
    }
  }
  &__progress {
    margin-bottom: 25px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 26px;
    @include _767 {
      margin-bottom: 30px;
      gap: 20px;
    }
    &-numbers {
      margin-bottom: 7px;
      display: flex;
      align-items: center;
      font-size: 32px;
      color: $white;
      font-weight: 800;
      &::before {
        content: '';
        margin-right: 9px;
        display: block;
        width: 32px;
        height: 32px;
        background: url('../img/caretDoubleUp.svg') no-repeat center / cover;
      }
      &.decline::before {
        transform: rotate(180deg);
      }
    }
    &-text {
      margin-bottom: 0;
      max-width: 265px;
      font-weight: 600;
      color: $white;
      opacity: .5;
    }
  }
  &__btn {
    margin-top: auto;
  }
}
