.services-card {
  min-height: 400px;
  @extend .project-card;
  background: radial-gradient(58.38% 61.93% at 100% 0%, rgba(28, 173, 228, 0.40) 0%, rgba(0, 0, 0, 0.00) 100%), radial-gradient(71.75% 60% at 0% 70.87%, rgba(28, 173, 228, 0.40) 0%, rgba(0, 0, 0, 0.00) 100%), #020528;
  @include _767 {
    padding: 20px 30px;
  }
  &__title {
    margin-bottom: 26px;
    font-size: 20px;
  }
  &__icon-wrap {
    margin-bottom: 26px;
    width: 64px;
    height: 64px;
  }
  &__icon {
    width: 100%;
    height: 100%;
  }
  &__work {
    margin-bottom: 17px;
    &-text {
      @extend .product-card__service-text;
      color: $white;
      @include _767 {
        font-size: 14px;
      }
    }
  }
  &__price {
    margin-top: auto;
    margin-bottom: 22px;
    font-size: 42px;
    font-weight: 500;
    line-height: 1.35em;
    background-image: linear-gradient(90deg, #1CADE4 0%, rgba(39, 206, 215, 0.00) 82.86%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  &__btn {
    @extend .project-card__btn;
    margin: 0;
  }
}
