.slider {
  position: relative;
}
// .slider-hint {
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   display: none;
// }
.slider-btn {
  position: absolute;
  top: 50%;
  z-index: 1;
  width: 48px;
  background: url('../img/icons/arrowLeft.svg') no-repeat center / 24px 24px, linear-gradient(132deg,rgba(2,5,40,.38) -48.79%,#f85e61 57.89%),#ee1a24;
  height: 48px;
  border-radius: 50%;
  transition: background-color .3s ease;
  @include interactive {
    &:hover {
      background: url('../img/icons/arrowLeft.svg') no-repeat center / 24px 24px, $red;
    }
  }
  @include _767 {
    width: 36px;
    height: 36px;
  }
}
.slider-prev-btn {
  left: 0;
  transform: translate(-50%, -50%);
  @include _767 {
    transform: translate(-15px, -50%);
  }
}
.slider-next-btn {
  right: 0;
  transform: translate(50%, -50%) rotate(180deg);
  @include _767 {
    transform: translate(0, -50%) rotate(180deg);
  }
}
