.team-card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 16px;
  overflow: hidden;
  &__info-btn {
    padding: 0;
    position: absolute;
    z-index: 0;
    top: 13px;
    right: 13px;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: 400;
    background: url('../img/icons/team-info.svg') no-repeat center / cover;
    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      border-radius: 50%;
      background-color: $red;
      animation: pulse_2_small 2s linear infinite;
      z-index: -1;
      transition: opacity .3s ease, visibility .3s ease;
    }
    @include interactive {
      &:hover {
        background: url('../img/icons/team-info.svg') no-repeat center / cover;
      }
    }
  }
  &__photo-wrap {
    width: 100%;
    height: 260px;
    @include _576 {
      height: 81vw;
    }
  }
  &__photo {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
  &__content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 30px 30px 26px 30px;
    background: linear-gradient(180deg, #1CADE4 0%, #27CED7 100%);
    @include _767 {
      padding-top: 20px;
    }
  }
  &__title {
    margin-bottom: 10px;
    font-size: 24px;
  }
  &__job-title {
    font-size: 14px;
    color: $white;
  }
  &__about {
    padding: 48px 40px 59px 40px;
    max-width: 560px;
    border-radius: 16px;
    background-color: #FBFBFB;
    &-wrap {
      margin-bottom: 21px;
      padding-bottom: 21px;
      border-bottom: 1px solid rgba(2, 5, 40, 0.15);
    }
    &-title {
      margin-bottom: 10px;
      font-size: 32px;
    }
    &-job-title {
      font-size: 18px;
      font-weight: 600;
    }
  }
}
