.videowidget {
  position: fixed;
  left: 20px;
  bottom: 20px;
  max-width: 318px;
  width: 100%;
  height: 240px;
  z-index: 2;
  transition: transform .3s ease;
  @include _767 {
    left: 15px;
    bottom: 55px;
    width: 60vw;
    height: auto;
  }
  &.close {
    transform: translateX(calc(-101% - 20px));
    & .videowidget__btn-close {
      transform: translate(100%, -50%);
      & img {
        transform: rotate(45deg);
      }
    }
    @include _767 {
      transform: translateX(calc(-101% - 15px));
    }
  }
  &__btn-close {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
    background-color: rgba(124, 124, 124, 1);
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(50%, -50%);
    border-radius: 50%;
    border: none;
    outline: none;
    & img {
      width: 24px;
      height: 24px;
      transition: transform .3s ease;
    }
    @include interactive {
      &:hover img {
        transform: rotate(90deg);
      }
    }
  }
  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    @include _767 {
      object-fit: fill;
    }
  }
  &__btn {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    transform: translate(-50%, -50%);
    padding: 0;
    width: 66px;
    height: 66px;
    border: none;
    outline: none;
    border-radius: 50%;
    @include _767 {
      width: 48px;
      height: 48px;
    }
    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      border-radius: 50%;
      background-color: #ee1a24;
      animation: 1.7s linear infinite pulse_2_small;
      z-index: -1;
    }
    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      border-radius: 50%;
      background: url('../img/icons/adv-play.svg') 55% center/20px 23px no-repeat, rgba(238,26,36,.6);
      z-index: 1;
      @include _767 {
        background-size: 17px 20px;
      }
    }
    &-icon {
      position: relative;
      opacity: 1;
      z-index: -1;
    }
  }
}
