@include font-face("Gilroy", "Gilroy-LightItalic", 300, italic);
@include font-face("Gilroy", "Gilroy-Regular", 400);
@include font-face("Gilroy", "Gilroy-Medium", 500);
@include font-face("Gilroy", "Gilroy-SemiBold", 600);
@include font-face("Gilroy", "Gilroy-Bold", 700);


.title {
  margin-bottom: 26px;
  @include font(Gilroy, 700, sans-serif);
  line-height: 1.35em;
  font-size: 38px;
  color: $white;
}

.title-accent {
  color: $primary_blue;
}

.text-accent {
  font-weight: 600;
}
