@include font-face("Gilroy", "Gilroy-LightItalic", 300, italic);
@include font-face("Gilroy", "Gilroy-Regular", 400);
@include font-face("Gilroy", "Gilroy-Medium", 500);
@include font-face("Gilroy", "Gilroy-SemiBold", 600);
@include font-face("Gilroy", "Gilroy-Bold", 700);
@include font-face("Gilroy", "Gilroy-ExtraBold", 800);


.title {
  margin-bottom: 26px;
  @include font(Gilroy, 700, sans-serif);
  line-height: 1.35em;
  font-size: 38px;
  color: $white;
}

.title-black {
  margin-bottom: 0;
  @extend .title;
  color: $primary;
  font-size: 24px;
}

.text-medium {
  font-weight: 500;
}

.section-title {
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  // max-width: 900px;
  color: $primary;
  text-align: center;
}

.section-subtitle {
  @extend .section-title;
  margin-bottom: 0;
  // max-width: 350px;
}

.section-title-wrap {
  margin-bottom: 50px;
}

.title-accent {
  color: $primary_blue;
}

.title-3 {
  @extend .title;
  margin-bottom: 0;
  font-size: 20px;
}

.text-accent {
  font-weight: 600;
}
