.form-bg {
  position: absolute;
  z-index: 0;
  right: -8%;
  bottom: 0;
  width: 100%;
  height: 105%;
  z-index: 0;
}
.form-bg img {
  position: absolute;
  display: block;
  bottom: 0;
  width: 100%;
  height: 100%;
  object-position: center bottom;
  object-fit: contain;
}

