.standart-form .form-select {
  cursor: pointer;
  position: relative;
  padding: 22px 30px;
  flex-basis: 300px;
  text-align: left;
  background-color: $white;
  border-radius: 300px;
  @include _992 {
    width: 100%;
    flex: none;
  }
}
.standart-form .form-select::after {
    content: '';
    position: absolute;
    right: 30px;
    top: 45%;
    display: inline-block;
    width: 0;
    height: 0;
    z-index: 3;
    border-style: solid;
    border-width: 7px 7px 0 7px;
    border-radius: 1px;
    border-color: $primary transparent transparent transparent;
    transition: transform .3s ease;
}
.standart-form .form-select span.current {
  margin: 0 auto;
  z-index: 3;
  position: relative;
  line-height: 1.35em;
  text-align: center;
}
.standart-form .form-select .list {
  padding: 32px 0 22px;
  position: absolute;
  left: 0;
  width: 100%;
  top: 50%;
  border: none;
  z-index: 2;
  opacity: 0;
  visibility: hidden;
  overflow: hidden;
  background-color: $white;
  border-radius: 0 0 30px 30px;
  transition: opacity .3s ease, visibility .3s ease;
}
.standart-form .form-select.open .list {
  opacity: 1;
  visibility: visible;
}
.standart-form .form-select .list .option {
  padding: 10px 30px;
  cursor: pointer;
  line-height: 1.35em;
  @include interactive {
    &:hover {
      background-color: #fbfbfb;;
    }
  }
}
.standart-form .form-select.open::after {
  transform: rotate(-180deg);
}
