$containerMaxWidth: 1352px;

// Colors
$primary: #a65cf0;
$primary_light: #c998fb;
$primary_shade: #7033ac;
$pink_light: #f8efff;
$pink_violet: #ebd1ff;
$secondary: #ff862f;
$secondary_light: #ffbd59;
$secondary_shade: #bb370e;
$red_input: #ff6972;
$green_input: #b8ec64;
$gold: #d5b986;
$white: #fff;
$black: #333;
$grey_light: #f6f6f6;
$md_grey: #eaeaea;
$grey: #999;
$grey_shade: #666;
