.menu {
  &__item.dropdown {
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    gap: 5px;
    @include _992 {
      flex-wrap: wrap;
    }
  }
  &__link {
    font-size: 14px;
    transition: color .3s ease;
    @include interactive {
      &:hover {
        color: $red;
      }
    }
    @include _992 {
      font-size: 18px;
      color: $primary;
    }
  }
  &__dropdown-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    border: none;
    outline: none;
    background-color: transparent;
    &-icon {
      width: 16px;
      height: 16px;
      fill: transparent;
      transition: transform .3s ease;
      & path {
        stroke: $primary;
        .header_front-page & {
          stroke: $white;
          @include _992 {
            stroke: $primary;
          }
        }
        transition: stroke .3s ease;
      }
      @include _992 {
        stroke: $primary;
        & path {
          stroke: $primary;
        }
      }
    }
  }
  &__item.is-active  &__link {
    color: $red;
    @include _992 {
      color: $primary;
    }
  }
  &__item.is-active &__dropdown-btn-icon {
    transform: rotate(180deg);
    & path {
      stroke: $red;
      @include _992 {
        stroke: $primary;
      }
    }
  }
}

