.header {
  position: relative;
  z-index: 1;
  color: $white;
  &__top {
    padding: 27px 0 29px;
    border-bottom: 1px solid rgba(255, 255, 255, .15);
  }
  &__wrap {
    display: flex;
    align-items: center;
  }
  &__logo {
    margin-right: 20px;
  }
  &__desc {
    flex: 0 0 165px;
    &-text {
      margin-bottom: 0;
      font-size: 14px;
      line-height: 1.48em;
    }
  }
  &__messangers-wrap {
    margin: 0 auto;
  }
  &__phone-wrap {
    margin-right: 32px;
  }
  &__cooperation-btn {
    flex-basis: 240px;
  }
  &-menu__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__bottom {
    padding: 26px 0 30px;
  }
}
