.header {
  position: relative;
  z-index: 1;
  color: $white;
  &__mob {
    display: none;
    &-btn {
      position: relative;
      padding: 0 5px;
      display: flex;
      flex-direction: column;
      z-index: 1;
      justify-content: center;
      border: none;
      outline: none;
      gap: 7px;
      width: 44px;
      height: 44px;
      &-line,
      &::before,
      &::after  {
        content: '';
        display: block;
        width: 34px;
        height: 4px;
        background-color: $white;
        border-radius: 4px;
        transform-origin: 0 0;
        transition: transform .3s ease, background-color .3s ease;
      }
      &::after {
        margin-left: 0;
        width: 20px;
      }
      &.active {
        &::after {
          transform: scale(0);
          background-color: $primary;
        }
        & .header__mob-btn-line {
          transform: translate(4px, 13px) rotate(-45deg);
          background-color: $primary;
        }
        &::before {
          transform: translate(6px, 0) rotate(45deg);
          background-color: $primary;
        }
      }
    }
    @include _992 {
      padding: 20px 0;
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-bottom: 1px solid rgba(255, 255, 255, 0.15);;
    }
  }
  &__mob-wrap {
    @include _992 {
      padding: 20px 0 21px 30px;
      max-height: 100vh;
      position: fixed;
      display: flex;
      flex-direction: column-reverse;
      overflow-y: auto;
      top: 0;
      left: 100%;
      opacity: 0;
      width: calc(100vw - 30px);
      background-color: $white;
      transition: transform .3s ease, opacity .3s ease;
      &.open {
        opacity: 1;
        transform: translateX(-100%);
      }
    }
    @include _767 {
      width: calc(100vw - 15px);
    }
  }
  &-progress {
    position: absolute;
    top: calc(100% - 1px);
    left: 0;
    width: 100%;
    height: 2px;
    background-color: $primary-blue;
    display: none;
  }
  &__top {
    padding: 27px 0 29px;
    border-bottom: 1px solid rgba(255, 255, 255, .15);
    transition: transform .3s ease;
    @include _992 {
      padding: 0;
      padding-top: 40px;
    }
  }
  &__wrap {
    display: flex;
    align-items: center;
    @include _992 {
      flex-direction: column;
      align-items: flex-start;
      gap: 20px;
      color: $primary;
      & .header__logo {
        display: none;
      }
    }
  }
  &__logo {
    margin-right: 20px;
    &-mob {
      display: none;
      @include _992 {
        margin-bottom: 36px;
        display: block;
        width: 140px;
        height: 45px;
      }
    }
  }
  &__desc {
    flex: 0 0 165px;
    &-text {
      margin-bottom: 0;
      font-size: 14px;
      line-height: 1.48em;
    }
    @include _1200 {
      display: none;
    }
  }
  &__messangers-wrap {
    margin: 0 auto;
    @include _992 {
      margin: 0;
    }
  }
  &__phone-wrap {
    margin-right: 32px;
    @include _1200 {
      margin-right: 20px;
    }
    @include _992 {
      margin: 0;
      color: $primary;
    }
  }
  &__cooperation-btn {
    font-size: 14px;
    flex-basis: 240px;
    @include _992 {
      max-width: 240px;
      width: 100%;
      flex: auto;
    }
  }
  &-menu__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include _992 {
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      gap: 15px;
    }
  }
  &__bottom {
    padding: 26px 0 30px;
    @include _992 {
      padding: 0;
    }
  }
  &.fixed {
    & .header-progress {
      display: block;
    }
    & .header__top .header-progress {
      @include _992 {
        display: none;
      }
    }
    z-index: 16;
    & .header__mob-wrap {
      padding-top: 36px;
      top: 45px;
    }
    & .header__logo {
      width: 140px;
      height: 45px;
      background: url('../img/logo-black.webp') no-repeat center / cover;
      & .logo__img {
        display: none;
      }
      &-mob {
        display: none;
      }
    }
    .header__top {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      padding: 15px calc((100% - 1240px + 80px) / 2);
      color: $primary;
      background: url('../img/fixed-bg.webp') no-repeat left bottom / contain,
                  url('../img/fixed-bg-2.webp') no-repeat 120% center / contain, $white;
      @include _1240 {
        padding: 15px 40px;
      }
      @include _992 {
        position: static;
        padding: 40px 0 0 0;
        background: none;
      }
      & .phone__working-time-text,
      & .phone__link {
        color: $primary;
      }
      & .phone__link {
        @include interactive {
          &:hover {
            color: $red;
          }
        }
      }
    }
    .header__mob {
      position: fixed;
      z-index: 1;
      top: 0;
      left: 0;
      width: 100%;
      padding: 6px 40px;
      color: $primary;
      background: $white;
    }
    .header__mob-btn-line,
    .header__mob-btn::before,
    .header__mob-btn::after {
      background-color: $primary;
    }
  }
}
