.btn-ghost {
  padding: 19px;
  display: inline-block;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.35em;
  border: 2px solid $white;
  border-radius: 200px;
  outline: none;
  color: $white;
  background: transparent;
  transition: background-color .2s ease, border-color .2s ease;
  @include interactive {
    &:hover, &:focus {
      color: $white;
      border-color: $red;
      background: $red;
    }
  }
}
