.btn {
  padding: 16px 20px;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  border: none;
  border-radius: 200px;
  outline: none;
  color: $white;
  background: linear-gradient(132deg, rgba(2, 5, 40, 0.38) -48.79%, #F85E61 57.89%), #EE1A24;
  transition: box-shadow .4s ease;
  @include interactive {
    &:hover {
      box-shadow: 0px 16px 64px 0px rgba(238, 26, 36, 0.50);
    }
  }
}
